* {
  margin: 0;
  padding: 0;
}

a:hover {
  color: greenyellow;
}
a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #fff;
}

.categories {
  background-color: rgba(187, 78, 15, 0.904);
  margin: auto;
  padding: 0;
  min-width: 100%;
  position: fixed;
}
.categories ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: monospace;
}
.cateogories li {
  padding-bottom: 4px;
}
.categories a {
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.show {
  background: url("images/homebg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show h2 {
  font-size: 50px;
  color: rgb(21, 88, 97);
  font-family: "Inconsolata", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 10px;
  background-color: rgba(255, 255, 255, 0.644);
  width: 400px;
  min-height: 50px;
  text-align: center;
}
.show p {
  font-size: 20px;
  font-weight: 600;
  color: rgb(21, 88, 97);
  font-family: "Inconsolata", monospace;
  background-color: rgba(255, 255, 255, 0.644);
  width: 400px;
  min-height: 50px;
  text-align: center;
}
.m {
  background: url("images/menubg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.m h2 {
  font-size: 50px;
  /* color: rgba(26, 224, 175, 0.836); */
  color: rgb(21, 88, 97);
  font-family: "Inconsolata", monospace;
  font-weight: 510;
  line-height: 1.4em;
  letter-spacing: 10px;
  background-color: rgba(255, 255, 255, 0.644);
  width: 400px;
  min-height: 50px;
  text-align: center;
}
.m p {
  font-size: 20px;
  font-weight: 900;
  /* color: rgba(26, 224, 175, 0.836); */
  color: rgb(21, 88, 97);
  font-family: "Inconsolata", monospace;
  background-color: rgba(255, 255, 255, 0.644);
  width: 400px;
  min-height: 50px;
  text-align: center;
}
.g {
  background: url("images/gallerybg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.g h2 {
  font-size: 50px;
  color: rgb(21, 88, 97);
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  line-height: 1.4em;
  letter-spacing: 10px;
  background-color: rgba(255, 255, 255, 0.644);
  width: 400px;
  min-height: 50px;
  text-align: center;
}

.gtext {
  position: absolute;
  top: 1480px;
}
.gh2 {
  position: absolute;
  top: 1400px;
}
.an {
  display: block;
  height: 4px;
  margin-top: -4px;
}
.mainmenu {
  display: flex;
  color: rgb(21, 88, 97);
  font-family: monospace;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.644);
  width: 400px;
  min-height: 50px;
}
.mainmenu div {
  padding: 20px;
}
.menu1 {
  flex: 1;
}
.menu1 li {
  text-align: left;
}
.menu2 {
  flex: 1;
}
.menu2 li {
  text-align: center;
}
.menu3 {
  flex: 1;
}
.menu3 li {
  text-align: right;
}

.m1 {
  list-style: none;
}
.img {
  display: flex;
  flex-direction: row;
}
.img img {
  height: 200px;
  padding: 1px;
  border-radius: 5px;
}
.img img:hover {
  width: auto;
  height: 200px;
  transition: 1.5s;
  border-radius: 10px;
  transform: scale(1.4, 1.4);
}
